@page
@using Microsoft.Extensions.Localization
@using Module1.Localization
@using Module1.Web.Pages.Module1
@model Module1.Web.Pages.Module1.IndexModel
@inject IStringLocalizer<Module1Resource> L

@{
}
<h1>Module1</h1>
<p>@L["SamplePageMessage"]</p>
